
.logo h1 {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7rem;
    color: #A6A6A6;
    background-color: black;
}

/* nav bar animations  */

.text-shadow-drop-center:hover {
    -webkit-animation: text-shadow-drop-center 0.6s both;
    animation: text-shadow-drop-center 0.6s both;
  }
  
  @-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
  }
  
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
}

.nav-bar li:hover {
    color: white;
}

nav.nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.nav-bar ul li a {
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

/* contact button style */

.contact-button {
    color: #A6A6A6 !important;
}

/* navbar elements orientation */

.ml-auto {
    display: grid;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
}

/* logo styles */

.company_logo {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.company_logo span {
    font-weight: 800;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    margin: 0;
}

p {
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* contains all elements in the middle section */

.container-middle {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
}

/* htmlcreator text alignment */

.how-it-works {
    margin-left: 15vh;
    width: 25%;
}

/* input style */

.input-fields {
    margin-bottom:10px;
    margin-top: auto;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70vh;
    padding: 10px;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* input style */

input,
textarea,
select {
    height: 100%;
    width: 100%;
    margin: 20px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Added */
}

/* input animation */

input:hover,
textarea:hover,
select:hover {
    background-color: #e0e0e0;
}

/* button styling */

.form-button input {   
    height: 30px;
    width: 30%;
    font-size: 1.3vh;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    border-radius: 2px;
    border-color: #000;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
  
.form-button input:hover {
    background-color: #333;
}

/* button orientation */

.form-button {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

/* footer Style */

.container-footer p {
    font-size: 0.6rem;
}

.container-footer a {
    font-family: 'Poppins', sans-serif;
    color: #A6A6A6;
    font-size: 0.6rem;
    text-decoration: none;
}

.container-footer h3 {
    font-size: 1rem;
}
    
.container-footer {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    color: #A6A6A6;
    margin-top: 10rem;
    height: 25vh;
    
}

.container-footer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 7rem;
    margin-top: 10rem;
}

.container-footer > div:nth-child(2) {
    align-items: flex-end;
    text-align: right;
}

.container-footer > div > h3,
.container-footer > div > p {
    margin: 0;
}

